body {
    margin: 0;
}

.title{
    width: 100vw;
    height: 50vw;
    font-size: 30;
    font-family: 'Shippori Mincho', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}
.container {
    display:flex;
    justify-content: center;
  }

 #color-container {
    transition: background-color ease 0.5s;
    width: 100vw;
    height: 100vh;
}

#color-spine {
    display: flex;
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
}

.color-btn {
    width: 30px;
    height: 30px;
    margin: 12px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    transition: transform ease 0.2s;
}

.color-btn:hover {
    transform: scale(1.2);
}

#color-btn-red {
    background: #eec7c7;
}

#color-btn-yellow {
    background: #ffe29f;
}

#color-btn-green {
    background: #d6ffbb;
}

#color-btn-lightblue {
    background: #c3f0ff;
}

#color-btn-blue {
    background: #7eb9cc;
}



  

/**
 * Question 2
 */
 #collection{
    width: 100vw;
    height: 100vh;
    transition: background-color ease 0.5s;
    background-color: rgb(255, 254, 254);
}
#pictures {
    position: absolute;
    transform: translate(60%, 25%);
    width: 680px;
    height: 500px;
    margin: auto;
    text-align: center;
}
#pictures img {
    width: 200px;
    margin: 0 10px;
    transition: 0.3s;
}
#pictures img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.hidden {
    display: none;
}
#lightbox-overlay {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    width: 500px;
}
.lightbox img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.lightbox .caption {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}